.TaskBoard{
  width: 100%;
  height: 100vh;
  background-color: #E3D1D7;
}


.TaskBoard-board{
  padding: 30px;
  height: calc(100% - 50px - 60px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 650px){
  .TaskBoard{
    height: auto;
  }
}
