body {
  font-size: 16px;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Rock Salt", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select{
  font-family: inherit;
  color: inherit;
  font-size: .6em;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand{
  display: none;
}
